.u-section-1 .u-sheet-1 {
  min-height: 432px;
}

.u-section-1 .u-group-1 {
  min-height: 255px;
  width: 819px;
  margin: 55px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 25px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 25px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 25px;
}

.u-section-1 .u-link-1 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-1 .u-group-2 {
  width: 282px;
  min-height: 239px;
  background-image: none;
  margin: -254px auto 45px 0;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  margin: 22px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: 270px;
    width: 660px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 21px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    position: relative;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    position: relative;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .u-section-1 .u-link-1 {
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 25px;
    position: relative;
  }

  .u-section-1 .u-group-2 {
    width: 286px;
    margin-bottom: 123px;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin: 25px 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-1 .u-group-1 {
    min-height: 313px;
    width: 471px;
    margin-top: 50px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    width: NaNpx;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    width: NaNpx;
    margin-right: 13px;
  }

  .u-section-1 .u-group-2 {
    width: 249px;
    min-height: 263px;
    margin-top: -288px;
    margin-bottom: 152px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 694px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 12px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 27px;
    margin-right: 25px;
    width: 490px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 25px;
    margin-right: 25px;
    width: 490px;
  }

  .u-section-1 .u-link-1 {
    margin-top: 25px;
    margin-bottom: 27px;
  }

  .u-section-1 .u-group-2 {
    width: 261px;
    min-height: 195px;
    margin: 70px 0 456px 140px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-1 .u-group-1 {
    min-height: 335px;
    margin-top: 80px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 7px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-right: 7px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 7px;
  }

  .u-section-1 .u-group-2 {
    min-height: 208px;
    margin-top: 80px;
    margin-bottom: 552px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1123px;
}

.u-section-2 .u-group-1 {
  min-height: 201px;
  width: 916px;
  margin: 54px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  margin: 20px 60px 0;
}

.u-section-2 .u-line-1 {
  width: 73px;
  height: 3px;
  transform-origin: right center 0;
  margin: 29px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 22px 60px 20px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 28px auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 352px;
  background-image: url("images/girl1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-2 {
  min-height: 352px;
  background-image: url("images/babita.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
  min-height: 352px;
  background-image: url("images/aman.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-4 {
  min-height: 352px;
  background-image: url("images/boy3.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-5 {
  min-height: 352px;
  background-image: url("images/divya.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-6 {
  min-height: 352px;
  background-image: url("images/dolly.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-7 {
  min-height: 352px;
  background-image: url("images/jatin.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-8 {
  min-height: 352px;
  background-image: url("images/maithili.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-9 {
  min-height: 352px;
  background-image: url("images/urvashi.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-10 {
  min-height: 352px;
  background-image: url("images/yog.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-11 {
  min-height: 352px;
  background-image: url("images/radhika.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-image-12 {
  min-height: 352px;
  background-image: url("images/10thbgirls.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-btn-1 {
  margin: 44px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1187px;
  }

  .u-section-2 .u-group-1 {
    min-height: 248px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: 25px;
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-2 .u-line-1 {
    width: 60px;
    margin-top: 38px;
    margin-left: 440px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 67px;
    margin-right: 67px;
    margin-bottom: 25px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-2 .u-line-1 {
    width: 46px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 43px;
    margin-right: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2631px;
  }

  .u-section-2 .u-group-1 {
    min-height: 284px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-line-1 {
    width: 43px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    min-height: 377px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-line-1 {
    width: 60px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 7px;
    margin-right: 7px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

.u-section-3 .u-image-1 {
  width: 730px;
  height: 450px;
  margin: 89px 0 0;
}

.u-section-3 .u-shape-1 {
  height: 549px;
  width: 568px;
  margin: -513px 491px 0 81px;
}

.u-section-3 .u-shape-2 {
  height: 360px;
  width: 425px;
  margin: -441px 25px 0 690px;
}

.u-section-3 .u-group-1 {
  min-height: 325px;
  margin: -343px 36px 0 730px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
}

.u-section-3 .u-text-1 {
  margin: 94px 30px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 30px 0 0;
}

.u-section-3 .u-link-1 {
  margin: 31px auto 35px 0;
}

.u-section-3 .u-shape-3 {
  height: 50px;
  width: 50px;
  margin: -367px 0 0 1090px;
}

.u-section-3 .u-shape-4 {
  height: 50px;
  width: 50px;
  margin: 309px 425px 60px 665px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-3 .u-image-1 {
    width: 602px;
    height: 602px;
    margin-top: 66px;
  }

  .u-section-3 .u-shape-1 {
    height: 473px;
    width: 468px;
    margin-top: -438px;
    margin-right: auto;
    margin-left: 44px;
  }

  .u-section-3 .u-shape-2 {
    height: 359px;
    width: 327px;
    margin-top: -409px;
    margin-right: 44px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 285px;
    width: 261px;
    margin-top: -329px;
    margin-right: 77px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-top: 23px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-right: 20px;
  }

  .u-section-3 .u-link-1 {
    margin-bottom: 23px;
  }

  .u-section-3 .u-shape-3 {
    height: 41px;
    width: 41px;
    margin-top: -365px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-4 {
    height: 41px;
    width: 41px;
    margin: 359px 353px 26px auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-3 .u-image-1 {
    width: 454px;
    height: 340px;
    margin-top: 78px;
    margin-right: auto;
  }

  .u-section-3 .u-shape-1 {
    height: 413px;
    width: 359px;
    margin-top: -377px;
    margin-left: 42px;
  }

  .u-section-3 .u-shape-2 {
    height: 278px;
    width: 284px;
    margin-top: -345px;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    min-height: 262px;
    width: 266px;
    margin-top: -270px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 19px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 24px;
    margin-right: 44px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 44px;
  }

  .u-section-3 .u-link-1 {
    margin-bottom: 24px;
  }

  .u-section-3 .u-shape-3 {
    height: 32px;
    width: 32px;
    margin-top: -337px;
  }

  .u-section-3 .u-shape-4 {
    height: 32px;
    width: 51px;
    margin-top: 312px;
    margin-right: 233px;
    margin-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-3 .u-image-1 {
    width: 446px;
    height: 255px;
    margin-top: 85px;
    margin-left: 47px;
    margin-right: 47;
    margin-bottom: 85px;
  }

  .u-section-3 .u-shape-1 {
    height: 325px;
    width: 354px;
    margin-top: 85px;
    margin-left: 93px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-2 {
    height: 353px;
    width: 354px;
    margin-top: 85px;
    margin-left: 93px;
  }

  .u-section-3 .u-group-1 {
    min-height: 325px;
    width: 332px;
    margin-top: 85px;
    margin-left: 104px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 14px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 61px;
    margin-right: 26px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 26px;
  }

  .u-section-3 .u-link-1 {
    margin-top: 56px;
    margin-bottom: 35px;
  }

  .u-section-3 .u-shape-3 {
    height: 30px;
    width: 30px;
    margin-top: -697px;
  }

  .u-section-3 .u-shape-4 {
    height: 30px;
    width: 50px;
    margin: 677px 490px 7px 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-3 .u-image-1 {
    height: 219px;
    width: 295px;
    margin-top: 80px;
    margin-left: 23px;
  }

  .u-section-3 .u-shape-1 {
    height: 278px;
    width: 247px;
    margin-top: 80px;
    margin-left: 47px;
  }

  .u-section-3 .u-shape-2 {
    height: 0px;
    width: 0px;
    margin-top: 0px;
    margin-left: 0px;
  }

  .u-section-3 .u-group-1 {
    min-height: 309px;
    width: 286px;
    margin-top: 80px;
    margin-left: 27px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-3 .u-text-1 {
    width: NaNpx;
    margin-top: 30px;
    margin-right: 8px;
  }

  .u-section-3 .u-text-2 {
    width: NaNpx;
    margin-right: 20px;
  }

  .u-section-3 .u-link-1 {
    margin-bottom: 30px;
  }

  .u-section-3 .u-shape-3 {
    height: 25px;
    width: 25px;
    margin-top: 80px;
    margin-left: 158px;
  }

  .u-section-3 .u-shape-4 {
    height: 25px;
    margin-top: 613px;
    margin-right: auto;
    margin-bottom: 45px;
  }
}.u-section-4 {
  min-height: 479px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 349px;
  background-image: none;
}

.u-section-4 .u-image-1 {
  height: 269px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-style: italic;
  margin: 29px 20px 26px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 349px;
}

.u-section-4 .u-image-2 {
  height: 269px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-style: italic;
  margin: 29px 20px 26px;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 349px;
}

.u-section-4 .u-image-3 {
  height: 269px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-style: italic;
  margin: 29px 20px 26px;
}

.u-section-4 .u-layout-cell-4 {
  background-image: none;
  min-height: 349px;
}

.u-section-4 .u-image-4 {
  height: 269px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-style: italic;
  margin: 29px 20px 26px;
}

.u-section-4 .u-layout-cell-5 {
  background-image: none;
  min-height: 349px;
}

.u-section-4 .u-image-5 {
  height: 269px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-style: italic;
  margin: 29px 20px 26px;
}

.u-section-4 .u-layout-cell-6 {
  background-image: none;
  min-height: 349px;
}

.u-section-4 .u-image-6 {
  height: 269px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-style: italic;
  margin: 29px 20px 26px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 2302px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 362px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 362px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 362px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 362px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
}